<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Queue Details</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<h2 class="text-center">Insert Queue Details</h2><hr>

<form action = "/savedetails" method="POST">
    <div class="mx-auto" style="width: 200px;">
         <div class="form-group >
    <label for="aid">AmbassadorId</label>
<input type="text" class="form-control"  name="aid"  placeholder="Enter AmbassadorId" required>
     </div>
<div>
     <div class="form-group">
    <label for="aid">QueueId</label>
<input type="text" class="form-control" name="qid"  placeholder="Enter QueueId" required>
     </div>
 <div class="form-group ">
    <label for="aid">State</label>
<input type="text" class="form-control"  name="state"  placeholder="Enter State" required>
     </div>
    <div class="form-group ">
    <label for="aid">Amount</label>
<input type="text" class="form-control"  name="amount"  placeholder="Enter Amount" required>
     </div>

       <div class="form-group ">
    <label for="aid">Reason</label>
<input type="text" class="form-control"  name="reason"  placeholder="Enter Reason" required>

</div>
    <div class="form-group ">
    <label for="aid">TaskCount</label>
<input type="text" class="form-control"  name="task"  placeholder="Enter TaskCount" required>
     </div>
<button type="submit" class="btn btn-success">Submit</button>
  <a href="/" class="btn btn-success" role="button" aria-pressed="true">Home</a><br>
<div>

    </table>
    </form>
</form>
</body>
</html>

