<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin DashBoard</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h2 class="text-center">Admin DashBoard</h2><hr>
     <h1></h1>
<a href="/add" class="btn btn-primary btn-lg  btn-block" role="button" aria-pressed="true">Insert Queue Details</a><br>
<a href="/views" class="btn btn-primary btn-lg  btn-block" role="button" aria-pressed="true">View Queue Details</a><br>
<a href="/delete" class="btn btn-primary btn-lg  btn-block" role="button" aria-pressed="true">Delete Queue Records</a><br>
</body>
</html>
<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">